.navegador nav, footer {
	background-color: rgba(106, 27, 118);
} 

#menu{
	float: right;
	margin-top: 5px;
}


/*Faz auteração da cor quando o mouse passa nos links dentro do menu*/
#menu a:hover{
	background-color: rgba(245, 187, 235, 0.4);
	color:#0e1a12;	
}

#main{
	padding: 50px;
	background-image: linear-gradient(rgb(212, 136, 188), rgb(255, 255, 255));
	/* background-image: linear-gradient(rgb(212, 54, 252), rgb(255, 255, 255)); */
}
/* usado no formulário, para que nao fique em baixo da nav  */
#meio {
	padding: 25px;
}

/* Fale Conosco */
#faleConosco {
	padding: 25px;
}

.faleConosco .row {
	display: flex;
	justify-content: center;
}

.faleConosco .border {
	width: 25%;
	padding: 10px;
	margin: 2em;
	border-radius: 0.5em;
}

.faleConosco a {
	text-decoration:none
}

.faleConosco .border i {
	font-size: 15px;
}

.border .bi-instagram {
	color: #C8397C;
}

.border .bi-facebook {
	color: #1459dc;
}

.border .bi-whatsapp {
	color: #25D366;
}

.border .bi-telephone {
	color: #212529;
} */

.border .bi-envelope {
	color: #BB201D;
}

.border .bi-map {
	color: #000000;
}

.card {
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave de 0.3 segundos */
}
  
.card:hover {
    transform: scale(1.05); /* Aplica uma escala de 105% ao passar o mouse */
}
/* Tirando os espaçamentos padrões de toda 
a pagina com o seletor *  */
*{
	margin: 0;
	padding: 0;	
	font-family: Helvetica, Arial;

}

nav{
	min-height:40px;
	margin-bottom: 0;	
}


footer p{
	color:white;	
}